$primary: #00b3e6;
$primary-light: #61dafb;;
$link: $primary; // #00b3e6; // #ff4081;

$shade-light: #fafafa;

@import 'bulma/bulma.sass';

.app {
    height: 100%;
}
.not-found {
  i {
    font-size: 20px;
    margin-right: 8px;
  }
  .title {
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
  }
}

header {
  font-weight: bold;
  font-family: Arial;
}

div.card-content {
  background-color: $shade-light;
  .name {
    font-size: 28px;
    color: #000;
  }
  .description {
    font-size: 20px;
    color: rgb(83, 83, 83);
  }
}

.card {
  margin-bottom: 2em;
}

.card-footer button {
  font-size: 16px;
  i {
    margin-right: 10px;
  }
  color: #888;
  &:hover {
    color: $link;
  }
}
